[Unit]
Description=Xaptum TPM Gadget
Conflicts=shutdown.target

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=/usr/bin/tpm_gadget
StandardOutput=console

[Install]
WantedBy=multi-user.target
